{% extends 'masterChats' %}

{% block chats %}

<div class="container">
    <input type="text" name="chatInput" value="" class="form-control" method="post" id="chat"/>
    <ul id="messages" class="list-group">
        {% for chat in chats %}
            <li class="list-group-item">
                {{ chat.message }}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
